    .img img {
        max-width: 30%;
        margin: 5px
    }

    .p{
        letter-spacing: 5px;
        font-weight: bold;
    }

    .Navbar{
        font-size: 20px;
        color: white;
    }

